<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Login</title>

    <link th:href="@{css/style.css}" href="../../static/css/style.css"
          rel="stylesheet" type="text/css" media="screen"/>

</head>
<body>


    <div id="login">

        <!-- /login?error=true -->
        <div th:if="${#request.getParameter('error') == 'true'}"
             style="color:red;margin:10px 0px;">
            Login Failed!!!<br />
            Reason :
            <span th:if="${#session!= null and #session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION') != null}"
                  th:utext="${#session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION').message}">
                Static summary
         </span>

        </div>


        <form name='form-login' th:action="@{/loginCheck}" method='POST'>
            <span class="fontawesome-user"></span>
            <input type="text" id="user" name='username' placeholder="Username">

            <span class="fontawesome-lock"></span>
            <input type="password" id="pass" name='password' placeholder="Password">

            <input type="submit" value="Login">

        </form>
    </div>
</body>
</html>
